<!DOCTYPE html>
<html>

    <head>
        <title>{{title}}: Control Center</title>
    </head>
    <body>
        <h1>{{bucketname}}: Control Center
            <form action=display>
                <input type="submit" value="Display GIFs">
            </form>
            
            <form action=display>
                <input type="submit" value="Display GIFs">
            </form>
        </h1>
       
        <div class="grid-container">
            {% for name in list_example %}
            <div class="grid-item">
                <li>{{ name }}</li>
                    <form action=display>
                        <input type="submit" value="make GIF">
                    </form>
                
            </div>
            {% end %}
        </div>
    </body>

</html>

<style>
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 10px;
    }

    .grid-item {
        padding: 20px;
        font-size: 30px;
        text-align: center;
    }
</style>