<!DOCTYPE html>  
<html>

<head>
    <title>{{title}}: Display</title>
</head>

<body>
    <h1>{{bucketname}}: Display room 
        <form action=control>
            <input type="submit" value="Control Center">
        </form>
    </h1>
    
    <div class="grid-container">
        {% for name in list_example %}
        <div class="grid-item">
            <li>{{ name[0] }}</li>
            <img src={{name[1]}}>
            <form action=control>
                <input type="submit" value="Delete">
            </form>
        </div>
        {% end %}
    </div>
</body>

</html>

<style>
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 10px;
    }

    .grid-item {
        padding: 20px;
        font-size: 30px;
        text-align: center;
    }
</style>